<div id="content-detail" class="content-d">
    <div class="container mr-150">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="'/dashboard'">Dashboard</a></li>
              <li class="breadcrumb-item"><a [routerLink]="'/symptom-library'">Symptom Library</a></li>
            <li class="breadcrumb-item active" aria-current="page">Constipation</li>
            </ol>
        </nav>
        <div class="detail-library">
            <div class="col-md-8 col-sm-12">
                <div class="check-detail"> 
                    <h2>Constipation</h2>
                    <div class="foods-btn">
                    <a class="foods-btn" (click)= "logPDF('symptom-library-constipation.pdf')" href="assets/pdf/symptom-library-constipation.pdf" target='_blank'>Download pdf <i class="icon-pdf"></i> </a> 
                    </div>                    
                    <span>Listen to the full audio of this page below</span>
                    <img src="assets/img/stript.png" class="d-none" width="100%" />
                     <img src="assets/img/stript-mob.png" class="mob-none" width="100%" />
                    <br> <br>
                    <p class="detail-pera">Cancer treatments can sometimes cause constipation. Constipation is when bowel movements become less frequent and stools are hard, dry, and difficult to pass. You may have painful bowel movements and feel bloated or nauseous. Constipation can also sometimes cause bleeding in the soft tissue where stool passes (the rectum).</p>
                    <p class="detail-pera">Common causes of constipation may include:</p>
                    <ul class="left-side">
                        <li>Chemotherapy</li>
                        <li>Medications, especially those used for pain control, nausea, or depression</li>
                        <li>Poor fluid intake</li>
                        <li>Emotional stress</li>
                        <li>A low fiber diet</li>
                        <li>Lack of exercise</li>
                        <li>Failure to respond to the urge to empty your bowels</li>
                    </ul><br>
                    <p class="semibold-text pt-pb">Self-care Strategies</p>
                    <ul class="left-side">
                        <li>Drink at least 8 cups of water or other fluids each day. Many people find drinking warm or hot fluids (like coffee and tea) or fruit juices (like prune juice) help with constipation.</li> 
                        <li>Eat foods that are high in fiber. Good sources of fiber include whole-grain bread and cereals, dried beans and peas, raw vegetables, fresh and dried fruit, nuts, seeds, and popcorn. Note: If you have a narrowed bowel, your doctor may recommend a low-fiber or low-residue diet. If this is the case, ask your care team if fiber is right for you.</li>
                        <li>Limit foods and supplements that may cause constipation. These include dairy products, bananas, calcium supplements, and iron pills.</li>
                        <li>Limit carbonated/fizzy drinks.</li>
                        <li>Increase physical activity, if possible.</li>
                        <li>Keep a record of your bowel movements and show this record to your health care team so you can talk about what's normal for you.</li> 
                        <li>Let your health care team know if you have not had a bowel movement in 2 days.</li>
                        <li>The above methods may not work well when constipation is caused by pain medicines. Before starting these medicines, talk with your health care team about ways to prevent or manage constipation.</li>
                    </ul>
                    <br>    
                    <p class="semibold-text pt-pb">How Your Care Team can Help</p>
                    <p class="detail-pera">If self-care strategies don’t help, ask your health care team whether laxatives, enemas, or suppositories are right for you and when it’s appropriate to use them.</p>
                    <p>To learn more about constipation click on the links below:</p>
                    <ul class="left-side">
                        <li><a (click)="logWebsite('https://www.cancer.net/coping-with-cancer/physical-emotional-and-social-effects-cancer/managing-physical-side-effects/constipation')" href="https://www.cancer.net/coping-with-cancer/physical-emotional-and-social-effects-cancer/managing-physical-side-effects/constipation" target="_blank">Go to Cancer.Net for more information on constipation</a></li>
                        <li><a (click)="logWebsite('https://survivorship.cancer.gov/springboard/symptoms/constipation')" href="https://survivorship.cancer.gov/springboard/symptoms/constipation" target="_blank">Go to Springboard Beyond Cancer for more information on constipation</a></li>
                    </ul>
                    <img src="assets/img/Constipation_B.jpg" class="mt-20" width="100%" />

                </div>
            </div>
            <div class="col-md-3 col-sm-12">  
                <div class="check-detail border-top">
                    <p class="semibold-text">All symptoms</p> 
                    <ul class="right-side-list">
                        <li><a href="#/symptom-library-pain">Pain</a></li>
                        <li><a href="#/symptom-library-fatigue">Fatigue</a></li>
                        <li><a href="#/symptom-library-depression">Sadness</a></li>
                        <li><a href="#/symptom-library-anxiety">Anxiety</a></li> 
                        <li><a href="#/symptom-library-insomnia">Insomnia</a></li>
                        <li><a href="#/symptom-library-physicalfunction">Physical Function</a></li>
                        <li><a href="#/symptom-library-nausea">Nausea & Vomiting</a></li>
                        <li ><a href="#/symptom-library-sexlife">Changes in Your Sex Life</a></li>
                        <li><a href="#/symptom-library-breath">Shortness of Breath</a></li>
                        <li class="active"><a href="#/symptom-library-constipation">Constipation</a></li>
                        <li><a href="#/symptom-library-diarrhea">Diarrhea</a></li>
                        <li><a href="#/symptom-library-neuropathy">Peripheral Neuropathy</a></li>
                        <li><a href="#/symptom-library-lymphedema">Lymphedema</a></li> 
                        <li><a href="#/symptom-library-mouthsores">Mouth Sores</a></li>
                        <li><a href="#/symptom-library-skin">Dry, Itchy/Blistery, or Painful Skin</a></li>                
                    </ul>
                </div>
            </div> 
        </div>
    </div>
</div>
