<div id="healthy-foods" class="">
    <div class="container mr-150">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
            <li class="breadcrumb-item d-none"><a href="#">...</a></li>
            <li class="breadcrumb-item mob-hidden"><a href="#/patient-resources">Patient Resources</a></li>
            <li class="breadcrumb-item"><a href="#/patient-resources/diet-nutrition">Diet & Nutrition</a></li>
            <li class="breadcrumb-item active mob-hidden" aria-current="page">Importance of Healthy Eating</li>
            </ol>
        </nav>
        <div class="detail-library">
            <div class="col-md-8 col-sm-12">
                <div class="check-detail pt-0">
                    <div class="foods-btn">
                        <a (click)= "toggleFavorite()">{{ isFav ? 'Remove from favorites' : 'Add to favorites' }}<i class="{{isFav ? 'icon-like' : 'icon-my-favorites'}}"></i></a>
                        <a href="#">Download pdf <i class="icon-pdf"></i> </a>
                    </div>
                    <h2>Importance of Healthy Eating</h2>
                    <span>Listen to the full audio of this page below</span>
                    <iframe id="sc-widget" width="100%" height="20" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/740770405%3Fsecret_token%3Ds-ZkmD6&color=%2363599e&inverse=false&auto_play=false&show_user=true"></iframe>

                    <p class="detail-pera pt-pb">Much research has been done to determine the effect of diet on health.
                        Overall, here are some main benefits of healthy eating for patients like you.</p>
                    <p class="semibold-text">Benefits are:</p>
                    <ul class="left-side font-14 mt-20">
                        <li>Reduce the risk of a second cancer diagnosis.</li>
                        <li>Reduce your weight, which will also protect you against cancer and other health conditions
                            such as heart disease, diabetes
                            and stroke.</li>
                        <li>Bring back energy from treatment and may help you to feel better throughout the day.</li>
                        <li>You feel better in your body!</li>
                    </ul>

                </div>
            </div>
            <div class="col-md-3 col-sm-12">
                <div class="check-detail pb-0 border-top">
                    <p class="semibold-text light-height">All Diet & Nutrition Resources</p>
                    <ul class="right-side-list mt-20">
                        <li><a [routerLink]="'/patient-resources/diet-nutrition/healthy-foods'">Healthy Foods</a></li>
                        <li><a [routerLink]="'/patient-resources/diet-nutrition/weight-gain'">Managing Weight Gain</a></li> 
                        <li><a [routerLink]="'/patient-resources/diet-nutrition/weight-loss'">Managing Weight Loss</a></li>
                        <li><a [routerLink]="'/patient-resources/diet-nutrition/loss-of-appetite'">Dealing with a Loss of Appetite</a></li>
                        <li><a [routerLink]="'/patient-resources/diet-nutrition/nutrition-tips'">Nutrition </a></li><br><br>
                        <li><a [routerLink]="'/patient-resources/diet-nutrition'"> < BACK TO PATIENT RESOURCES </a></li>
                    </ul> 
                </div> 
            </div> 
        </div> 
    </div> 
</div>