<div id="content-detail" class="content-d">
    <div class="container mr-150">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="'/dashboard'">Dashboard</a></li>
              <li class="breadcrumb-item"><a [routerLink]="'/symptom-library'">Symptom Library</a></li>
            <li class="breadcrumb-item active" aria-current="page">Lymphedema</li>
            </ol>
        </nav>
        <div class="detail-library">
            <div class="col-md-8 col-sm-12">
                <div class="check-detail"> 
                    <h2>Cancer-Related Lymphedema</h2>
                    <div class="foods-btn">
                    <a class="foods-btn" (click)= "logPDF('symptom-library-lymphedema.pdf')" href="assets/pdf/symptom-library-lymphedema.pdf" target='_blank'>Download pdf <i class="icon-pdf"></i> </a> 
                    </div>
                    <span>Listen to the full audio of this page below</span>
                    <img src="assets/img/stript.png" class="d-none" width="100%" />
                     <img src="assets/img/stript-mob.png" class="mob-none" width="100%" />
                    <br> <br>
                    <p class="detail-pera">When lymph nodes and vessels are removed and/or damaged, the lymph fluid backs up and causes swelling in the affected area. This is called lymphedema. The most common cause of lymphedema is the removal and/or damage to lymph nodes and lymph vessels from cancer treatment. Tumors that damage lymph nodes and vessels can also cause lymphedema. If it's caught early, the lymphedema can be managed.</p>
                    <p class="detail-pera"><b>Am I at risk for developing cancer-related lymphedema?</b> Lymphedema typically doesn’t happen right away. It can take a year or more to develop after your cancer treatment. The main risk factors for developing lymphedema are:</p>        

                    <ul class="left-side">
                        <li>Surgical removal of lymph nodes</li>
                        <li>Radiation to an area that has lymph nodes</li>
                        <li>Obesity</li>
                        <li>History of lymphedema</li>
                    </ul>
                    <p class="semibold-text pt-pb">Are there signs and symptoms I should watch out for?</p>
                    <ul class="left-side">
                        <li>The common signs and symptoms of lymphedema to look for are:</li>
                        <ul class="left-side">
                            <li>Persistent swelling or swelling that comes and goes in the area treated for cancer</li>
                            <li>Tightness of clothing and undergarments more on the side treated for cancer</li>
                            <li>Changes in the shape of the affected area</li>
                            <li>Changes in skin color (reddish-brown and mottled) and texture (hard, brawny, shiny, or looks like an orange-peel) in the affected area</li>
                            <li>Less flexibility in the swollen area (like in your hand, wrist, shoulder, face, lips, throat, neck, eyelids, trunk, legs, genitalia)</li> 
                            <li>Feelings of heaviness, tightness, and/or discomfort in the swollen area</li>
                            <li>Trouble fitting into clothes in swollen area (like a shirt armhole, sleeve, underwear, bra, undershirt, pant leg, or shoe)</li>
                            <li>Shirt collars, rings, watches, and/or bracelets feeling tight</li> 
                            <li>Frequent skin infections</li>
                        </ul>
                    </ul>
                    <br>    
                    <p class="semibold-text pt-pb">Who is qualified to treat lymphedema and how is it treated?</p>
                    <ul class="left-side">
                        <li>Certified lymphedema therapists have specialized and advanced training to deliver lymphedema treatment. Physical therapists make up the majority of Certified Lymphedema Therapists.</li>
                        <li>Lymphedema is usually treated conservatively. The gold standard of lymphedema treatment is called Complete Decongestive Therapy.</li>  
                        <ul class="left-side">
                        <li>The goal of this phase is to reduce the swelling as much as possible and to improve the condition of the skin, and keep the swelling down.</li>  
                        </ul>
                        <li>There have been new developments in surgical techniques can be used for some patients with lymphedema after they have been treated by a certified lymphedema therapist. You will need to talk to your doctor about whether you might qualify for these new surgeries.</li>  
                    </ul><br>
                    
                    <p class="detail-pera">How can I reduce my risk of developing lymphedema?</p>
                    <ul class="left-side">
                        <li>Proper Skin Care</li>
                        <ul class="left-side"> 
                            <li>Keep skin clean and moisturized.</li>
                            <li>Use soaps and detergents labeled 'hypoallergenic.'</li>
                            <li>Use electric razors instead of straight razors when shaving in the affected area.</li> 
                            <li>Use sunscreen and insect repellent.</li> 
                            <li>Wear protective clothing (such as long pants, sleeves, gloves, hats) when doing activities that might break or scratch your skin. Examples of activities are gardening, housecleaning, washing dishes, home and car repairs, woodworking, etc.</li>
                            <li>Avoid cuts during manicures and pedicures and use your own tools.</li>
                        </ul>
                        <li>Keep Swelling Down</li>
                        <ul class="left-side">
                            <li>When possible, elevate the affected area above your heart.</li>
                            <li>Wear the bandages or compression garments as recommended by your certified lymphedema therapist.</li>
                            <li>Wear well-fitting and comfortable clothing.</li>
                        </ul>
                        <li>Minimize Your Symptoms</li>
                        <ul class="left-side">
                            <li>Maintain a healthy body weight.</li>
                            <li>Maintain a constant temperature in your home.</li>
                            <li>Use caution with carrying heavy purses or bags if your arm is affected.</li> 
                            <li>In the affected area, be sure to avoid:</li>
                            <ul class="left-side">
                                <li>Saunas, long hot baths or showers, hot tubs</li>
                                <li>Heating pads on the treated area</li>
                                <li>Tight-fitting clothing or jewelry</li>
                                <li>Tattoos and piercings in the affected area</li>
                                <li>Having your blood pressure taken or blood drawn</li>
                            </ul>                             
                        </ul>
                        <li>Stay Healthy</li>
                        <ul class="left-side">
                            <li>Wash your hands often during the day.</li>
                            <li>Eat a well-balanced, nutritious diet.</li>
                            <li>Watch for signs of infection like fever and redness, and see your doctor right away.</li>
                            <li>Exercise regularly.</li>
                            <ul class="left-side"> 
                                <li>Slowly progress exercise with weights.</li> 
                                <li>Walking, swimming, yoga, and riding a bike are great exercises.</li>
                            </ul>
                        </ul> 

                    </ul>
                    <p class="detail-pera">To learn more about lymphedema click on the links below:</p>
                     <ul class="left-side">
                    <li><a (click)="logWebsite('https://www.cancer.net/coping-with-cancer/physical-emotional-and-social-effects-cancer/managing-physical-side-effects/lymphedema')" href="https://www.cancer.net/coping-with-cancer/physical-emotional-and-social-effects-cancer/managing-physical-side-effects/lymphedema" target="_blank">Go to Cancer.Net for more information on lymphedema</a></li>
                    <li><a (click)="logWebsite('https://survivorship.cancer.gov/springboard/symptoms/lymphedema')" href="https://survivorship.cancer.gov/springboard/symptoms/lymphedema" target="_blank">Go to Spring Beyond Cancer for more information on lymphedema</a></li>
                    </ul>
                    <img src="assets/img/Lymphedema_B.jpg" class="mt-20" width="100%" />
                </div>
            </div>
            <div class="col-md-3 col-sm-12">  
                <div class="check-detail border-top">
                    <p class="semibold-text">All symptoms</p> 
                    <ul class="right-side-list">
                        <li><a href="#/symptom-library-pain">Pain</a></li>
                        <li><a href="#/symptom-library-fatigue">Fatigue</a></li>
                        <li><a href="#/symptom-library-depression">Sadness</a></li>
                        <li><a href="#/symptom-library-anxiety">Anxiety</a></li> 
                        <li><a href="#/symptom-library-insomnia">Insomnia</a></li>
                        <li><a href="#/symptom-library-physicalfunction">Physical Function</a></li>
                        <li><a href="#/symptom-library-nausea">Nausea & Vomiting</a></li>
                        <li><a href="#/symptom-library-sexlife">Changes in Your Sex Life</a></li>
                        <li><a href="#/symptom-library-breath">Shortness of Breath</a></li>
                        <li><a href="#/symptom-library-constipation">Constipation</a></li>
                        <li><a href="#/symptom-library-diarrhea">Diarrhea</a></li>
                        <li><a href="#/symptom-library-neuropathy">Peripheral Neuropathy</a></li>
                        <li class="active"><a href="#/symptom-library-lymphedema">Lymphedema</a></li>
                        <li><a href="#/symptom-library-mouthsores">Mouth Sores</a></li>
                        <li><a href="#/symptom-library-skin">Dry, Itchy/Blistery, or Painful Skin</a></li>
                    </ul>
                </div>
            </div> 
        </div>
    </div>
</div>
