<div id="content-detail" class="content-d">
    <div class="container mr-150">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="'/dashboard'">Dashboard</a></li>
              <li class="breadcrumb-item"><a [routerLink]="'/symptom-library'">Symptom Library</a></li>
            <li class="breadcrumb-item active" aria-current="page">Nausea & Vomiting</li>
            </ol>
        </nav>
        <div class="detail-library">
            <div class="col-md-8 col-sm-12">
                <div class="check-detail"> 
                    <h2>Nausea & Vomiting</h2>
                    <div class="foods-btn">
                    <a class="foods-btn" (click)= "logPDF('symptom-library-nausea.pdf')" href="assets/pdf/symptom-library-nausea.pdf" target='_blank'>Download pdf <i class="icon-pdf"></i> </a> 
                    </div>
                    <span>Listen to the full audio of this page below</span>
                    <iframe id="sc-widget" width="100%" height="20" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/894900934%3Fsecret_token%3Ds-ZkmD6&color=%2363599e&inverse=false&auto_play=false&show_user=true"></iframe>
                    <br> <br>
                    <p class="detail-pera">Nausea is when you feel sick or uncomfortable in the stomach that may be combined with an urge to vomit. Sometimes, you can vomit even if you haven't experienced nausea or eaten recently. You may experience more saliva in your mouth or increased sweating when nauseous or prior to vomiting.</p>
                    <p class="detail-pera">Many types of chemotherapy may cause mild to severe nausea and vomiting. Radiation therapy, especially to the brain, spinal cord, abdomen, and pelvis, may also cause nausea and vomiting.</p>
                    <p class="detail-pera">While mild nausea and vomiting is uncomfortable, it usually doesn't cause serious problems. Vomiting a lot and often is a problem, however, because it can cause problems such as dehydration, and weight loss.</p>
                    <p class="semibold-text pt-pb">Self-care strategies</p>
                    <ul class="left-side">
                        <li>Don’t lie down right after you eat. Stay upright. If you're vomiting, sit upright or lie on your side.</li>
                        <li>When you feel sick to your stomach, breathe deeply and try to distract yourself with TV or music.</li>
                        <li>Try to stay hydrated if you’re vomiting. This can be hard, as you may not feel like drinking fluids. It may help to:</li>
                        <ul class="left-side">
                        <li>Sip fluids slowly and in small amounts throughout the entire day</li>
                        <li>Suck on small bites of popsicles or ice chips</li>
                        <li>Drink in-between meals, instead of with meals</li>
                        </ul>
                        <li>Pay attention to what you eat, and take note of foods that increase nausea so you can avoid them.</li> 
                        <li>Eat 4-5 small meals a day instead of a 3 large meals.</li>
                        <li>Eat and drink slowly and chew your food well.</li>
                        <li>Try eating your food cold or at room temperature, which can decrease strong smells/tastes.</li>
                        <li>Ask others to prepare meals, if the smells make you nauseous.</li>
                        <li>Don't force yourself to eat foods when nauseated.</li>
                        <li>Suck on sugar-free hard candy, like mints. Sugar-free candies containing ginger may also help.</li>
                        <li>Eat foods that are gentle on your stomach, including bland, easy-to-digest foods.</li>
                    </ul>
                    <br>   

                    <div class="col-md-6 pl-pr-0">
                        <div class="stript-box">Eat this:</div>
                        <p class="mt-mb">Toast & crackers; Plain noodles; Fruits & vegetables that are soft or bland; Yogurt;Sherbet; Angel food cake; Pretzels; Skinned chicken (baked or broiled, not fried); Oatmeal</p>
                    </div>
                    <div class="col-md-6 pl-pr-0">
                        <div class="stript-box">NOT this:</div>
                        <p class="mt-mb">Greasy foods; Fatty foods; Fried foods; Spicy foods; Very sweet foods; Foods with strong smells; Foods that are hot<br><br><br></p>                    
                    </div>
                    
                    <p class="semibold-text pt-pb">How Your Care Team can Help</p> 
                    <p class="detail-pera">Talk with your care team if your nausea and vomiting doesn't stop or gets worse. Also, if you experience vomiting for more than 1 day, let your doctor know. They may be able to give you medications to help prevent nausea and vomiting, or refer you to a provider who can teach you non-medication-related techniques to manage nausea.</p>
                    <p class="detail-pera">To learn more about nausea and vomiting click on the links below:</p>
                     <ul class="left-side">
                        <li><a (click)="logWebsite('https://www.cancer.net/coping-with-cancer/physical-emotional-and-social-effects-cancer/managing-physical-side-effects/nausea-and-vomiting')" href="https://www.cancer.net/coping-with-cancer/physical-emotional-and-social-effects-cancer/managing-physical-side-effects/nausea-and-vomiting" target="_blank">Go to Cancer.Net for more information on nausea and vomiting</a></li>
                        <li><a (click)="logWebsite('https://www.cancer.gov/about-cancer/treatment/side-effects/nausea/nausea-pdq')" href="https://www.cancer.gov/about-cancer/treatment/side-effects/nausea/nausea-pdq" target="_blank">Go to National Cancer Institute for more information on nausea and vomiting</a></li>
                    </ul>
                    <img src="assets/img/NauseaandVomiting_B.jpg" class="mt-20" width="100%" />
                </div>
            </div>
            <div class="col-md-3 col-sm-12">  
                <div class="check-detail border-top">
                    <p class="semibold-text">All symptoms</p> 
                    <ul class="right-side-list">
                        <li><a href="#/symptom-library-pain">Pain</a></li>
                        <li><a href="#/symptom-library-fatigue">Fatigue</a></li>
                        <li><a href="#/symptom-library-depression">Sadness</a></li>
                        <li><a href="#/symptom-library-anxiety">Anxiety</a></li> 
                        <li><a href="#/symptom-library-insomnia">Insomnia</a></li>
                        <li><a href="#/symptom-library-physicalfunction">Physical Function</a></li>
                        <li class="active"><a href="#/symptom-library-nausea">Nausea & Vomiting</a></li>
                        <li><a href="#/symptom-library-sexlife">Changes in Your Sex Life</a></li>
                        <li><a href="#/symptom-library-breath">Shortness of Breath</a></li>
                        <li><a href="#/symptom-library-constipation">Constipation</a></li>
                        <li><a href="#/symptom-library-diarrhea">Diarrhea</a></li>
                        <li><a href="#/symptom-library-neuropathy">Peripheral Neuropathy</a></li>
                        <li><a href="#/symptom-library-lymphedema">Lymphedema</a></li>
                        <li><a href="#/symptom-library-mouthsores">Mouth Sores</a></li>
                        <li><a href="#/symptom-library-skin">Dry, Itchy/Blistery, or Painful Skin</a></li>                  
                    </ul>
                </div>
            </div> 
        </div>
    </div>
</div>
