<div id="content-detail" class="content-d">
    <div class="container mr-150">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="'/dashboard'">Dashboard</a></li>
              <li class="breadcrumb-item"><a [routerLink]="'/symptom-library'">Symptom Library</a></li>
            <li class="breadcrumb-item active" aria-current="page">Pain</li>
            </ol>
        </nav>
        <div class="detail-library">
            <div class="col-md-8 col-sm-12">
                <div class="check-detail"> 
                    <h2>Pain</h2>
                    <div class="foods-btn">
                    <a class="foods-btn" (click)= "logPDF('symptom-library-pain.pdf')" href="assets/pdf/symptom-library-pain.pdf" target='_blank'>Download pdf <i class="icon-pdf"></i> </a> 
                    </div>
                    <span>Listen to the full audio of this page below</span>
                    <iframe id="sc-widget" width="100%" height="20" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/894903199%3Fsecret_token%3Ds-ZkmD6&color=%2363599e&inverse=false&auto_play=false&show_user=true"></iframe>
                    <br> <br>
                    <p class="detail-pera">Many patients and survivors experience pain during and after cancer treatment. It may be caused by cancer or cancer treatments. Pain and the associated thoughts and emotions can impact quality of life. It may help to know that cancer-related pain can be successfully managed for most patients.</p>
                    
                    <p class="semibold-text pt-pb">Self-care Strategies</p>
                    <p class="detail-pera">There are many ways to manage and treat cancer-related pain, including non-opioid medications and non-medication methods. Some strategies might work better than others, and what works for one patient may not work for another patient. Below are examples of non-opioid medications and non-medication methods:</p>
                    
                    <p class="detail-pera">Non-Prescription Pain Medication</p>
                    <ul class="left-side">
                        <li>Over-the-counter medication is commonly used for mild pain or in combination with opioids for moderate pain. Always discuss any over-the-counter medications with your cancer care team.</li>  
                        <li>Common drug names:  acetaminophen (Tylenol), ibuprofen (Advil), naproxen (Aleve), aspirin</li> 
                    </ul>
                    <p class="detail-pera">Mind and Body Interventions</p>
                    <ul class="left-side">
                        <li>Refocusing and distraction can reduce pain by turning attention away and focusing it on something else. Examples are reading, watching TV, craft projects, listening to music, working on crossword puzzles, or other pleasant or meaningful activities.</li>
                        <li>Relaxation and pleasant imagery can help relax muscles and refocus attention. Mental health counseling can help for emotional distress related to pain.</li>
                        <li>Attend local support groups and talk to people about how they manage pain.</li>
                        <li>Meditation can help with pain as well as worry, stress, and even mood changes.</li> 
                        <li>Ask your doctor about acupuncture or biofeedback.</li>
                        <li>Use massage as appropriate.</li>
                    </ul>
                    <p class="detail-pera">Support & Positioning</p>
                    <ul class="left-side">
                        <li>Maintain correct posture to decrease discomfort.</li>
                        <li>Use supportive devices (pillows, foot stools, arm rests) to maintain correct and comfortable posture.</li>
                        <li>Move around regularly to promote circulation and avoid pressure sores.</li>
                    </ul>
                    <p class="detail-pera">Exercise</p>
                    <ul class="left-side">
                        <li>It may not be advised for some conditions; if you are unsure if you should exercise, check with your doctor.</li>
                        <li>Strengthening/toning muscles helps maintain flexibility, coordination, balance, and circulation.</li>
                        <li>Adjust exercise to current ability; start slow and be responsive to your body’s limits.</li>
                        <li>Talk to your doctor about whether a referral to physical therapy would be beneficial.</li>
                    </ul>
                    <p class="detail-pera">Application of heat/cold</p>
                    <ul class="left-side">
                        <li>Heat is helpful with strained/irritated muscles.</li>
                        <li>Apply heat via covered heat source for limited time periods (20-30 mins).</li>
                        <li>Avoid heat to areas of tender or broken skin; use cold in these situations.</li>
                        <li>Apply covered cold packs to painful areas for limited time periods (20 mins).</li>
                        <li>Avoid heat or cold on areas with circulation problems or numbness, or areas that had prior radiation treatment.</li>
                        <li>Monitor impact area often for any skin irritation.</li>
                    </ul>

                    <p class="semibold-text pt-pb">How Your Care Team can Help</p><br>
                    <ul class="left-side">
                        <li>Talk with your doctor about your pain. Discuss where your pain is, when it began, how long it lasts, what it feels like, what makes it better, and how the pain affects your life.</li>
                        <li>Medications are important in cancer pain treatment. Your doctor may decide to prescribe pain medications to help alleviate pain.</li> 
                        <li>If the prescribed pain medicines don’t work as expected, let your doctor know.</li>
                        <li>Take your pain medication exactly as prescribed.</li>
                        <li>You may or may not have side effects. However, it’s important to tell your doctor or nurse if you are experiencing any side effects of pain medications.</li> 
                        <li>If your pain medicine is not working, ask your doctor for a referral to a pain specialist or palliative care.</li>
                    </ul>
                    <p class="detail-pera">Listed below are common classes of medication.</p>
                    <p class="detail-pera">Opioids</p>
                    <ul class="left-side">
                        <li>Commonly prescribed medication for moderate to severe pain.</li> 
                        <li>Common drug names: Codeine, Hydrocodone, Vicodin, Oxycodone, OxyContin, MSContin, Morphine, Hydromorphone, Levorphanol, Fentanyl patch and others.</li>
                    </ul>                    
                    <p class="detail-pera">Anti-depressants</p>
                    <ul class="left-side">
                        <li>May help relieve nerve pain (sharp, stabbing pain or constant burning pain that is in the same location, but usually on or near the surface of the body). Pain caused by a shingles is an example.</li>
                        <li>Commonly prescribed medications include: Elavil, Pamelor, and Norpramin, Cymbalta</li>
                    </ul>                    
                    <p class="detail-pera">Anticonvulsants</p>
                    <ul class="left-side">
                        <li>May help relieve nerve pain.</li>
                        <li>Commonly prescribed medications include: Neurontin, Tegretol, and Klonopin, among others.</li> 
                    </ul>                    
                    <p class="detail-pera">Corticosteroids</p>
                    <ul class="left-side">
                        <li>Reduce swelling (inflammation) that causes cancer pain. They're also used with other drugs to control and prevent nausea caused by chemotherapy. Steroids may be used for short periods of time, but are not desirable for long-term use due to side effects.</li>
                        <li>Commonly prescribed medications include: dexamethasone (Decadron) and Prednisone</li>
                    </ul>                    
                    <p class="detail-pera">Bisphosphonates</p>
                    <ul class="left-side">
                        <li>Effective for bone pain.</li>
                        <li>Commonly prescribed medications include: pamidronate (Aredia) and zolendronic acid (Zometa)</li>
                    </ul>                    
                    <p class="detail-pera">Other Treatments</p>
                    <ul class="left-side">
                        <li>Radiation therapy may help pain in bones.</li>
                        <li>Radiofrequency ablation may provide relief for painful bones. This is a procedure where an electrical current from radio waves is used to heat up nerve tissues to reduce pain signals.</li>
                        <li>Surgery may relieve pain caused by blockage or compression.</li>
                        <li>Nerve blocks, or the injections of a local anesthetic onto or near nerves, may help some people for temporary control of pain.</li>
                    </ul>                    
                    <p class="detail-pera">To learn more about pain click on the links below:</p>
                    <ul class="left-side">
                        <li><a (click)="logWebsite('https://www.cancer.net/coping-with-cancer/physical-emotional-and-social-effects-cancer/managing-physical-side-effects/pain')" href="https://www.cancer.net/coping-with-cancer/physical-emotional-and-social-effects-cancer/managing-physical-side-effects/pain" target="_blank">Go to Cancer.Net for more information on pain</a></li>
                        <li><a (click)="logWebsite('https://www.cancer.gov/about-cancer/treatment/side-effects/pain/pain-pdq')" href="https://www.cancer.gov/about-cancer/treatment/side-effects/pain/pain-pdq" target="_blank">Go to National Cancer Institute for more information on pain</a></li>
                    
                    </ul>
                    <img src="assets/img/Pain_B.jpg"  class="mt-20" width="100%" />
                    <br>
                </div>
            </div>
            <div class="col-md-3 col-sm-12">  
                <div class="check-detail border-top">
                    <p class="semibold-text">All symptoms</p> 
                    <ul class="right-side-list">
                        <li class="active"><a href="#/symptom-library-pain">Pain</a></li>
                        <li><a href="#/symptom-library-fatigue">Fatigue</a></li>
                        <li><a href="#/symptom-library-depression">Sadness</a></li>
                        <li><a href="#/symptom-library-anxiety">Anxiety</a></li> 
                        <li><a href="#/symptom-library-insomnia">Insomnia</a></li>
                        <li><a href="#/symptom-library-physicalfunction">Physical Function</a></li>
                        <li><a href="#/symptom-library-nausea">Nausea & Vomiting</a></li>
                        <li><a href="#/symptom-library-sexlife">Changes in Your Sex Life</a></li>
                        <li><a href="#/symptom-library-breath">Shortness of Breath</a></li>
                        <li><a href="#/symptom-library-constipation">Constipation</a></li>
                        <li><a href="#/symptom-library-diarrhea">Diarrhea</a></li>
                        <li><a href="#/symptom-library-neuropathy">Peripheral Neuropathy</a></li>
                        <li><a href="#/symptom-library-lymphedema">Lymphedema</a></li>
                        <li><a href="#/symptom-library-mouthsores">Mouth Sores</a></li>
                        <li><a href="#/symptom-library-skin">Dry, Itchy/Blistery, or Painful Skin</a></li>
                    </ul>
                </div>
            </div> 
        </div>
    </div>
</div>
