<div id="content-detail" class="content-d">
    <div class="container mr-150">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="'/dashboard'">Dashboard</a></li>
              <li class="breadcrumb-item"><a [routerLink]="'/symptom-library'">Symptom Library</a></li>
            <li class="breadcrumb-item active" aria-current="page">Physical Function</li>
            </ol>
        </nav>
        <div class="detail-library">
            <div class="col-md-8 col-sm-12">
                <div class="check-detail"> 
                    <h2>Physical Function</h2>
                    <div class="foods-btn">
                    <a class="foods-btn" (click)= "logPDF('symptom-library-physicalfunction.pdf')" href="assets/pdf/symptom-library-physicalfunction.pdf" target='_blank'>Download pdf <i class="icon-pdf"></i> </a> 
                    </div>
                     <span>Listen to the full audio of this page below</span>
                    <iframe id="sc-widget" width="100%" height="20" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/894906370%3Fsecret_token%3Ds-ZkmD6&color=%2363599e&inverse=false&auto_play=false&show_user=true"></iframe>
                    <br> <br>
                    <p class="detail-pera">During and after cancer treatment you may notice changes in your strength, balance, and ability to move. These changes can affect basic tasks such bathing and dressing, as well as more strenuous daily activities such as shopping, carrying objects, and exercising.</p>
                    <p class="detail-pera">Common Causes of Physical Limitations:</p>
                    <ul class="left-side">
                        <li>Physical effects from surgery, radiation, and chemotherapy.</li>
                        <li>Lymphedema, which is a buildup of fluid (usually in the arms and legs) that can cause swelling and limit movement and range of motion.</li>  
                        <li>Cancer-related symptoms, including pain, fatigue, depression, or sleep disturbances.</li>
                    </ul>
                    <p class="detail-pera">While changes in physical function due to cancer are often temporary, they sometimes persist after treatment. Fortunately, strategies are available to help.</p>

                    <p class="semibold-text pt-pb">Strategies to Try at Home</p>
                    <p class="detail-pera">Exercise</p>
                    <p class="detail-pera">Exercise may not sound good when you're feeling weak or having difficulty moving. However, even small amounts of physical activity can help you feel stronger and make it easier to tolerate treatment side effects.</p>
                    <p class="detail-pera">If you're new to exercise, or haven't exercised in a while, start slowly with a short walk around the house.  Other simple ways to add exercise to your daily routine include:</p>
                    <ul class="left-side">
                        <li>Riding a bike</li>
                        <li>Playing with the kids or grandkids</li>
                        <li>Taking the stairs instead of the elevator</li>
                        <li>Parking your car further away and walking to the building (or getting off at an earlier transit stop)</li>
                        <li>While watching TV, raise and lower your arms and legs, or do arm curls, squats or sit ups</li>
                    </ul>
                    <p class="detail-pera">If you can exercise for only a few minutes a day, it will still benefit you. Try short periods of exercise with frequent rest breaks.</p>
                    <p class="semibold-text pt-pb">Things to consider in planning an exercise program:</p>
                    <ul class="left-side">
                        <li>Talk with your doctor or nurse before starting any exercise program. Ask if there are any restrictions that could increase your risk for falls or injury.</li>
                        <li>Ask your doctor if a referral to physical therapy can help you.</li> 
                        <li>Start slowly with an exercise program.</li> 
                        <ul class="left-side"> 
                            <li>Begin each session with warm-up exercises for 2-5 minutes consisting of low impact aerobic exercise (i.e., walking and light stretching).</li>  
                            <li>End your session with 2-5 minutes of light aerobic exercise and stretching or flexibility exercises.</li>
                            <li>Include some weight-bearing exercises that maintain your muscle mass and bone strength such as walking.</li>
                            <li>Include physical activity that uses large muscle groups such as stair climbing. Start with 2 or 3 steps, up and down.</li>
                            <li>Include exercises that can maintain or increase your flexibility and range of motion in your joints such as yoga or tai chi.</li>
                        </ul>
                        <li>If you have severe fatigue or simply don’t feel like exercising, you can try to do 5-10 minutes of stretching exercises every day or walking around your house. Any activity is better than none!</li> 
                        <li>Don't exercise above a moderate level of exertion (e.g., a brisk walk) without talking to your doctor.</li>
                        <li>Watch for dizziness, swollen ankles, or shortness of breath while at rest or with a small amount of exertion.  Let you doctor know if you have any of these problems.</li>
                        <li>Keep a journal or a log to record the time, distance, and frequency of exercise or use a smartphone app such as MyFitnessPal. Include your level of exertion (e.g., how difficult was the activity for you.) This will allow you to track your progress from week to week</li>
                    </ul>
                    <p class="detail-pera">Helpful Devices</p>
                    <p class="detail-pera">Small devices can often help when you're feeling weak or have difficulty moving. A raised toilet seat and grab bars in the bathroom, for example, can help when bathing or using the toilet. Kitchen stores sell gadgets that can help you open stubborn jars and bottles. If you're feeling unsteady, a cane or walker can reduce your risk for falling and make it possible to participate in more activities.</p>
                    <p class="detail-pera">A Little Help from my Friends</p>
                    <p class="detail-pera">There are times when we can all use assistance. If you're having difficulty with daily tasks, don't hesitate to ask for help from family, friends, and others in your community. Most people want to help and are happy when you suggest specific things they can do (e.g., shop for you, prepare meals, drive you to appointments).</p>
                    


                    <p class="semibold-text pt-pb">How Your Care Team can Help</p>
                    <p class="detail-pera">While some people can safely regain strength and resume activity at home, many people benefit from the help of professionals such as physical therapists, occupational therapists, and cancer rehabilitation specialists. Your care team can help you decide if these services would be beneficial for you and, where appropriate, help with referrals.</p>
                    <ul class="left-side">
                        <li>Physical therapists have specialized training in post-surgical and post-treatment effects on function, motion, scar tissue, lymphedema, and balance. They can help you develop a personalized exercise program to increase strength and endurance and restore balance.</li>
                        <li>Occupational therapists can help you develop strategies to help you be as independent as possible with everyday activities.</li>
                        <li>Cancer rehabilitation services include physical and occupational therapy as well as other services.</li> 
                        <li>Speech therapists have specialized training in swallowing, language fluency, communication, and speech disorders due to cancer and its treatment. They are also trained to conduct swallow testing which helps to diagnose and treat swallowing problems that can occur for some people treated for cancer.</li> 
                        <li>Certified lymphedema therapists have specialized training in lymphedema management – a sub-specialty in cancer rehabilitation.</li> 
                        <li>Certified hand therapists have specialized training in rehabilitation of injuries and conditions that involve the hand including peripheral neuropathy that mostly affect the hands.</li>
                    </ul>
                    <img src="assets/img/PhysicalFunction_B.jpg" class="mt-20" width="100%" />
                </div>
            </div>
            <div class="col-md-3 col-sm-12">  
                <div class="check-detail border-top">
                    <p class="semibold-text">All symptoms</p> 
                    <ul class="right-side-list">
                        <li><a href="#/symptom-library-pain">Pain</a></li>
                        <li><a href="#/symptom-library-fatigue">Fatigue</a></li>
                        <li><a href="#/symptom-library-depression">Sadness</a></li>
                        <li><a href="#/symptom-library-anxiety">Anxiety</a></li> 
                        <li><a href="#/symptom-library-insomnia">Insomnia</a></li>
                        <li class="active"><a href="#/symptom-library-physicalfunction">Physical Function</a></li>
                        <li><a href="#/symptom-library-nausea">Nausea & Vomiting</a></li>
                        <li><a href="#/symptom-library-sexlife">Changes in Your Sex Life</a></li>
                        <li><a href="#/symptom-library-breath">Shortness of Breath</a></li>
                        <li><a href="#/symptom-library-constipation">Constipation</a></li>
                        <li><a href="#/symptom-library-diarrhea">Diarrhea</a></li>
                        <li><a href="#/symptom-library-neuropathy">Peripheral Neuropathy</a></li>
                        <li><a href="#/symptom-library-lymphedema">Lymphedema</a></li>
                        <li><a href="#/symptom-library-mouthsores">Mouth Sores</a></li>
                        <li><a href="#/symptom-library-skin">Dry, Itchy/Blistery, or Painful Skin</a></li> 
                    </ul>
                </div>
            </div> 
        </div>
    </div>
</div>
