<div id="content-detail" class="content-d">
    <div class="container mr-150">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="'/dashboard'">Dashboard</a></li>
              <li class="breadcrumb-item"><a [routerLink]="'/symptom-library'">Symptom Library</a></li>
            <li class="breadcrumb-item active" aria-current="page">Diarrhea</li>
            </ol>
        </nav>
        <div class="detail-library">
            <div class="col-md-8 col-sm-12">
                <div class="check-detail"> 
                    <h2>Diarrhea</h2>
                    <div class="foods-btn">
                    <a class="foods-btn" (click)= "logPDF('symptom-library-diarrhea.pdf')" href="assets/pdf/symptom-library-diarrhea.pdf" target='_blank'>Download pdf <i class="icon-pdf"></i> </a> 
                    </div> 
                    <span>Listen to the full audio of this page below</span>
                    <img src="assets/img/stript.png" class="d-none" width="100%" />
                     <img src="assets/img/stript-mob.png" class="mob-none" width="100%" />
                    <br> <br>
                    <p class="semibold-text pt-pb">Note: If you are experiencing severe diarrhea, inform your doctor.</p> 
                    <p class="detail-pera">Diarrhea is a common side effect that causes more frequent bowel movements and loose, watery stools. These bowel movements are sometimes (but not always) accompanied by abdominal cramps. Diarrhea happens because your body is not absorbing enough water from your food.</p>
                    <p class="detail-pera">Diarrhea is most often caused by chemotherapy or other medications, but occasionally can result from an infection. Individuals with pancreatic cancer may experience diarrhea when their pancreas is not working properly.</p>                 
                    <p class="detail-pera">Mild diarrhea usually doesn't result in serious problems, though it can be uncomfortable. More significant diarrhea, however, can cause dehydration and eventually lead to more serious health problems. It's best to prevent diarrhea or treat it as soon as it develops.</p>
                    <p class="semibold-text pt-pb">Self-care Strategies</p> 
                    <p class="detail-pera">Consider these options to help you manage mild diarrhea:</p> 
                    <ul class="left-side">
                        <li>Eat small, frequent meals and choose foods that are very easy to digest such as bananas, rice, applesauce, and toast. Your doctor may recommend a low-residue diet, which includes low-fiber foods.</li>
                        <li>Avoid caffeine, alcohol, dairy, fat, fiber, orange juice, prune juice, and spicy foods.</li>
                        <li>Avoid medicines such as laxatives, stool softeners, and metoclopramide (Reglan). Metoclopramide is used to prevent nausea and vomiting from chemotherapy but can lead to looser stools at times.</li>
                        <li>Stay hydrated! Drink 8-10 8-ounce glasses of fluids a day.</li>
                        <ul class="left-side">
                            <li>Sip fluids slowly, throughout the entire day.</li>
                            <li>Try to add fluids that are high in sodium ('salty') or high in potassium to help your body retain fluids.</li>
                            <li>Warm or 'room-temperature' fluids may be better than cold fluids.</li>
                            <li>Read this list of fluid sources to try, and some to avoid:<br><br>

                                <div class="col-md-6 pl-pr-0">
                                    <div class="stript-box">Drink this:</div>
                                    <p class="mt-mb">Water;  Apple juice;  Clear broths or soups;  Popsicles;  Gelatin;  Ice chips;  Sports drinks like Gatorade or Powerade;</p>
                                </div>
                                <div class="col-md-6 pl-pr-0">
                                    <div class="stript-box">NOT this:</div>
                                    <p class="mt-mb">Milk or milk products;  Alcohol;   Caffeine;<br><br><br></p>                    
                                </div>

                            </li>
                        </ul>
                    </ul>

                    <p class="semibold-text pt-pb">How Your Care Team Can Help</p>
                    <ul class="left-side">
                        <li>If you experience a change in your bowel movements, talk with your care team to explore the best ways to manage it. Ask if you need medicines to prevent diarrhea such as loperamide (Imodium) or the prescription diphenoxylate/atropine (Lomotil).</li> 
                        <li>Occasionally diarrhea can be caused by an infection, which can be identified by your care team and treated with antibiotics.</li>
                        <li>If diarrhea is caused by the pancreas not working well (which occurs in some patients with pancreatic cancer), replacing pancreatic enzymes might help.</li>
                        <li>If diarrhea is severe, your care team may provide intravenous (IV) fluids. They may also review your schedule or dose of chemotherapy.</li>
                    </ul>
      
                    <p class="detail-pera">To learn more about diarrhea click on the links below:</p>
                    <ul class="left-side">
                    <li><a (click)="logWebsite('https://www.cancer.net/coping-with-cancer/physical-emotional-and-social-effects-cancer/managing-physical-side-effects/diarrhea')" href="https://www.cancer.net/coping-with-cancer/physical-emotional-and-social-effects-cancer/managing-physical-side-effects/diarrhea" target="_blank">Go to Cancer.Net for more information on diarrhea</a></li>
                    <li><a (click)="logWebsite('https://survivorship.cancer.gov/springboard/symptoms/diarrhea')" href="https://survivorship.cancer.gov/springboard/symptoms/diarrhea" target="_blank">Go to Spring Beyond Cancer for more information on diarrhea</a></li>
                    </ul>
                    <img src="assets/img/Diarrhea_B.jpg" class="mt-20" width="100%" />
                                           
                </div>
            </div>
            <div class="col-md-3 col-sm-12">  
                <div class="check-detail border-top">
                    <p class="semibold-text">All symptoms</p> 
                    <ul class="right-side-list">
                        <li><a href="#/symptom-library-pain">Pain</a></li>
                        <li><a href="#/symptom-library-fatigue">Fatigue</a></li>
                        <li><a href="#/symptom-library-depression">Sadness</a></li>
                        <li><a href="#/symptom-library-anxiety">Anxiety</a></li> 
                        <li><a href="#/symptom-library-insomnia">Insomnia</a></li>
                        <li><a href="#/symptom-library-physicalfunction">Physical Function</a></li>
                        <li><a href="#/symptom-library-nausea">Nausea & Vomiting</a></li>
                        <li ><a href="#/symptom-library-sexlife">Changes in Your Sex Life</a></li>
                        <li><a href="#/symptom-library-breath">Shortness of Breath</a></li>
                        <li><a href="#/symptom-library-constipation">Constipation</a></li>
                        <li class="active"><a href="#/symptom-library-diarrhea">Diarrhea</a></li>
                        <li><a href="#/symptom-library-neuropathy">Peripheral Neuropathy</a></li>
                        <li><a href="#/symptom-library-lymphedema">Lymphedema</a></li> 
                        <li><a href="#/symptom-library-mouthsores">Mouth Sores</a></li>
                        <li><a href="#/symptom-library-skin">Dry, Itchy/Blistery, or Painful Skin</a></li>               
                    </ul>
                </div>
            </div> 
        </div>
    </div>
</div>
