<div id="content-detail" class="content-d">
    <div class="container mr-150">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="'/dashboard'">Dashboard</a></li>
              <li class="breadcrumb-item"><a [routerLink]="'/symptom-library'">Symptom Library</a></li>
            <li class="breadcrumb-item active" aria-current="page">Shortness of Breath</li>
            </ol>
        </nav>
        <div class="detail-library">
            <div class="col-md-8 col-sm-12">
                <div class="check-detail"> 
                    <h2>Shortness of Breath</h2>
                    <div class="foods-btn">
                    <a class="foods-btn" (click)= "logPDF('symptom-library-breath.pdf')" href="assets/pdf/symptom-library-breath.pdf" target='_blank'>Download pdf <i class="icon-pdf"></i> </a> 
                    </div>
                    <span>Listen to the full audio of this page below</span>
                    <iframe id="sc-widget" width="100%" height="20" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/894909295%3Fsecret_token%3Ds-ZkmD6&color=%2363599e&inverse=false&auto_play=false&show_user=true"></iframe>
                    <br> <br>
                    <p class="detail-pera">Some people with cancer experience shortness of breath. You may also hear this referred to as dyspnea. When you are short of breath, you may feel:</p>
                    <ul class="left-side">
                        <li>Breathless</li>
                        <li>Wheezy</li>
                        <li>Discomfort when breathing</li>
                        <li>Like you can't get in enough air when you inhale</li>
                        <li>Like your heart is beating faster</li>
                        <li>Light-headed or dizzy</li>
                    </ul><br>
                    <p class="detail-pera"><b>Note:</b> It's important to let your doctor know if you are experiencing shortness of breath.</p><br>
                    <p class="detail-pera">Shortness of breath can gave many causes it may be caused by your cancer or cancer treatments.</p> 
                    <p class="detail-pera">An important step in managing dyspnea is discovering and treating the root cause. Once the cause is better understood, you and your health care team can discuss which self-care strategies and treatments are right for you.</p>

                    <p class="semibold-text pt-pb">Self-care Strategies</p>
                    <ul class="left-side">
                        <li>Keep the air in your home as free as possible from smoke, dust, pet hair, and dander.</li>
                        <li>Use a humidifier.</li>
                        <li>Cool air can help. Use your thermostat to lower the temperature in your room, and/or sit in front of a fan.</li>
                        <li>Sit upright and, when lying down, use pillows to keep your head raised.</li>
                        <li>Get a sense of open space by looking outside the window or walking into an empty room.</li>
                        <li>Use meditation or mindful breathing to help stay calm when you feel short of breath. Practice breathing in this way: Inhale deeply through your nose, then exhale through pursed lips for twice as long as it took to inhale.</li>
                        <li>Distract yourself from uncomfortable feelings by doing activities you enjoy and find calming, such as knitting, reading, or listening to music.</li>
                    </ul>
                    <br>    
                    <p class="semibold-text pt-pb">How Your Care Team can Help</p>
                    <ul class="left-side">
                        <li>You can talk with your health care team about medications that may help, like anti-anxiety medications or medications for breathing.</li> 
                        <li>If your shortness of breath is significant, your care team may recommend oxygen therapy.</li>
                        <li>If your shortness of breath doesn't get better and involves chest pain, seek medical care immediately.</li>
                    </ul>
                    <p class="detail-pera">To learn more about shortness of breath click on the links below:</p>
                     <ul class="left-side">
                        <li><a (click)="logWebsite('https://www.cancer.net/coping-with-cancer/physical-emotional-and-social-effects-cancer/managing-physical-side-effects/shortness-breath-or-dyspnea')" href="https://www.cancer.net/coping-with-cancer/physical-emotional-and-social-effects-cancer/managing-physical-side-effects/shortness-breath-or-dyspnea" target="_blank">Go to Cancer.Net for more information on shortness of breath</a></li>
                        <li><a (click)="logWebsite('https://www.cancer.gov/about-cancer/treatment/side-effects/cardiopulmonary-pdq#_143')" href="https://www.cancer.gov/about-cancer/treatment/side-effects/cardiopulmonary-pdq#_143" target="_blank">Go to National Cancer Institute for more information on shortness of breath</a></li>
                    </ul>
                    <img src="assets/img/ShortnessofBreath_B.jpg" class="mt-20" width="100%" />                    
                </div>
            </div>
            <div class="col-md-3 col-sm-12">  
                <div class="check-detail border-top">
                    <p class="semibold-text">All symptoms</p> 
                    <ul class="right-side-list">
                        <li><a href="#/symptom-library-pain">Pain</a></li>
                        <li><a href="#/symptom-library-fatigue">Fatigue</a></li>
                        <li><a href="#/symptom-library-depression">Sadness</a></li>
                        <li><a href="#/symptom-library-anxiety">Anxiety</a></li> 
                        <li><a href="#/symptom-library-insomnia">Insomnia</a></li>
                        <li><a href="#/symptom-library-physicalfunction">Physical Function</a></li>
                        <li><a href="#/symptom-library-nausea">Nausea & Vomiting</a></li>
                        <li><a href="#/symptom-library-sexlife">Changes in Your Sex Life</a></li>
                        <li class="active"><a href="#/symptom-library-breath">Shortness of Breath</a></li>
                        <li><a href="#/symptom-library-constipation">Constipation</a></li>
                        <li><a href="#/symptom-library-diarrhea">Diarrhea</a></li>
                        <li><a href="#/symptom-library-neuropathy">Peripheral Neuropathy</a></li>
                        <li><a href="#/symptom-library-lymphedema">Lymphedema</a></li>
                        <li><a href="#/symptom-library-mouthsores">Mouth Sores</a></li>
                        <li><a href="#/symptom-library-skin">Dry, Itchy/Blistery, or Painful Skin</a></li>
                    </ul>
                </div>
            </div> 
        </div>
    </div>
</div>
