<div id="healthy-foods" class="">
    <div class="container mr-150">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
              <li class="breadcrumb-item d-none"><a href="#">...</a></li>
              <li class="breadcrumb-item mob-hidden"><a href="#/patient-resources">Patient Resources</a></li>
              <li class="breadcrumb-item"><a href="#/patient-resources/financial">Financial & Practical Matters</a></li>
            <li class="breadcrumb-item active mob-hidden" aria-current="page">Managing Hair Loss and Body Image Concerns</li>
            </ol>
        </nav>
        <div class="detail-library">
            <div class="col-md-8 col-sm-12">
                <div class="check-detail pt-0">
                    <div class="foods-btn">
                        <a (click)= "toggleFavorite()">{{ isFav ? 'Remove from favorites' : 'Add to favorites' }}<i class="{{isFav ? 'icon-like' : 'icon-my-favorites'}}"></i></a>
                        <a (click)= "logPDF('bodyimage.pdf')" href="assets/pdf/bodyimage.pdf" target='_blank'>Download pdf <i class="icon-pdf"></i> </a>
                    </div>
                    <h2>Managing Hair Loss and Body Image Concerns</h2>
                    <span>Listen to the full audio of this page below</span>
                    <iframe id="sc-widget" width="100%" height="20" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/740770405%3Fsecret_token%3Ds-ZkmD6&color=%2363599e&inverse=false&auto_play=false&show_user=true"></iframe>
                    <br><br>
                    <p class="detail-pera">Cancer can change your body in unexpected ways. There are services available to help you with your look and feel after cancer.</p>
                    <p class="bold-text pt-pb">American Cancer Society (ACS) Healing Boutiques:</p>
                    <p>American Cancer Society Healing Boutiques at Northwestern Medicine offer brand new wigs, hats, and scarfs at no cost while you are undergoing cancer treatment. An experienced American Cancer Society (ACS) volunteer will help you select and fit the right wig. Appointments are available to discuss your specific needs and preferences.</p>
                    <ul class="left-side">
                        <li>ACS Healing Boutique at Northwestern Medicine Prentice Women’s Hospital. Call 312.472.5302 for appointment.</li>
                        <li>ACS Wig Boutique at Northwestern Medicine Cancer Center Warrenville. Call 630.932.1141 for appointment.</li>
                        <li>ACS Wig Boutique at LivingWell Cancer Resource Center. No appointments needed. Open during regular business hours. Call 630.262.1111 for more information.</li>
                        <li>ACS Wig Boutique at Northwestern Medicine Lake Forest Hospital. Call 847.535.6145 for appointment.</li>
                        <li>ACS Wig Boutique at Northwestern Medicine Grayslake Outpatient Center. Call  847.535.7400 for appointment.</li>
                    </ul>                    
                    <p class="bold-text pt-pb">Additional Resources:</p>
                    <ul class="left-side">
                        <li><a (click)="logWebsite('https://alas-wings.org')" href='https://alas-wings.org' target='_blank'>ALAS-WINGS (312-883-2527)</a> provides prosthetic bras, wigs, and prostheses at no cost to breast cancer patients with limited financial resources.</li>  
                        <li><a (click)="logWebsite('https://www.secondactchicago.com')" href='https://www.secondactchicago.com' target='_blank'>Second Act (773-525-2228)</a> is a cancer recovery boutique accredited by the American Board for Certification of Orthotics, Prosthetics & Pedorthics that carries bras, prostheses, compression garments, wigs, & accessories.</li> 
                        <li><a (click)="logWebsite('https://lookgoodfeelbetter.org/virtual-workshops')" href='https://lookgoodfeelbetter.org/virtual-workshops' target='_blank'>Look Good Feel Better</a> is a program offering in person and online tutorials to provide beauty techniques to patient’s going through cancer treatment.</li> 
                        <li><a (click)="logWebsite('https://www.walgreens.com/topic/pharmacy/specialty-pharmacy/side-effect-help/feel-more-like-you.jsp')" href='https://www.walgreens.com/topic/pharmacy/specialty-pharmacy/side-effect-help/feel-more-like-you.jsp' target='_blank'>Feel More Like You</a> is a program where beauty consultants and pharmacists are available to provide support and assistance managing the side effects of cancer treatment.</li> 
                        <li><a (click)="logWebsite('https://thebreastcancercharities.org/feelingbeautifulagain')" href='https://thebreastcancercharities.org/feelingbeautifulagain' target='_blank'>Feeling Beautiful Again</a> offers a beauty care pack to those going through cancer treatment to help manage the emotional side effects of cancer.</li>  
                    </ul>
                    <img src="assets/img/BodyImageConcerns_B.jpg" class="mt-20" width="100%" />
                </div>   
            </div> 
            <div class="col-md-3 col-sm-12">  
                <div class="check-detail pb-0 border-top">
                    <p class="semibold-text light-height">Financial & Practical Matters</p> 
                    <ul class="right-side-list mt-20"> 
                        <li><a [routerLink]="'/patient-resources/financial/cost'">Managing the Cost of Treatment</a></li>
                        <li><a [routerLink]="'/patient-resources/financial/legal'">Legal and Workplace Issues</a></li>
                        <li><a [routerLink]="'/patient-resources/financial/transportation'">Managing Transportation and Other Concerns</a></li>
                        <li class="active" ><a [routerLink]="'/patient-resources/financial/bodyimage'">Managing Hair Loss and Body Image Concerns</a></li>
                        <br><br>
                        <li><a [routerLink]="'/patient-resources/financial'"> < BACK TO Financial & Practical Matters</a></li>
                    </ul>
                </div>
            </div> 
        </div>
    </div>
</div>
